<tr>
  <td><%= post.name %></td>
  <td><%= post.body %></td>
  <td>
    <small><%= post.created_at.in_time_zone('America/Vancouver') %></small>
  </td>
  <td>
    <small><%= post.updated_at.in_time_zone('America/Vancouver') if post.created_at.to_i != post.updated_at.to_i %></small>
  </td>
  <td>
    <%= link_to 'Edit', edit_post_path(post.id) if session[:post_name] == post.name %>
  </td>
  <td>
    <%= form_with(url: post_path(post.id), method: :delete, html: {onsubmit: 'return confirm("Do you really want to submit the form?");'}) do |form| %>
      <%= form.submit 'Destroy' %>
    <%- end %>
  </td>
</tr>
