<!DOCTYPE html>
<html>
  <head>
    <title>HotwireBbs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
    <%= yield :head %>
  </head>

  <body>
    <p>
    NOTE: Many components are broken since it's just a sketch version
    </p>
    <%= $i ||= 0; $i += 1 %>
    <%= yield %>
    <%= link_to 'Home', root_path %>
  </body>
</html>
