<!DOCTYPE html>
<html>
  <head>
    <title>HotwireBbs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css', media: 'all' %>
    <%= turbo_include_tags %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js' %>
    <%= yield :head %>
  </head>

  <body>
    <div class="container">
      <h1>
        Hotwire BBS
        <span class="badge bg-secondary">Rails <%= Rails.version %></span>
      </h1>

      <%= $i ||= 0; $i += 1 %>
      <%= yield %>
      <%= link_to 'Home', root_path %>
    </div>
  </body>
</html>
